{% block content %}
<p>
<h3> Acknowledgements </h3>
<p>
I would gladly like to thank, www.pythonprogramming.net for allowing me to learn all major concepts related to the python language as a whole and subsequently,
Django as a part of it.
</p>
<br>
<h4> Contents Used </h4>
The page is mainly designed with Django framework, along with HTML, CSS and Bootstrap. 
<br>
{% endblock %}