{% extends 'personal/header.html' %}
{% block content %}
<h2> Hello Everyone </h2>

<br>
<p>
Hi, my name is Sayan. Lets, see what I am up to here!
</p>

<br>
<h3> Introduction </h3>
<p>
{% load static %} <img src="{% static "personal/images/Screen-Shot-2017-01-17-at-10.47.08.jpg" %}" align='right' height='300px' width='500px' hspace='20px' vspace=25px'  alt="Growth_Curve1" />
{% load static %} <img src="{% static "personal/images/Top39-700.4.png" %}" align='left' height='300px' width='500px' hspace='20px' vspace=25px'  alt="Growth_Curve2" />
As of 2017, Python is considered to be one of the most efficient growing languages, obviously among the other essentially growing languages like Javascript 
and Java, SQL ect, which are more commonly and widely implemented. The adjacent graph (source: Google images), depict a generic growth of the language from
the early part of the milenium to about the later part of that decade.
</p>

<br>
<p>
Tired of the structured, precedural approach of C, I decided to go for a newer, better experience. I started learning python only a few weeks ago. The 
vast plethora of applications offered by the Python starting from application of simple to complex algorithms to data structures, object oriented approaches, 
statistical analysis of data along with graph manipulations to typically deep topics like machine learning and deep learning with neural networks along with 
sentiment analysis and generic approaches to stuff like speech recognition, web development and much more. This website is being designed by Django. A complimentary 
framework by python which is mainly used for efficient web designing. As it, this is my first approach to Django learning and implementation. Please cut me a 
slack, if there are mistakes and inadequecies here and there. ;) 
</p>

<br>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}